@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto&display=swap');

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Graphik';
    .companies {
        background-color: $companies-color;
        padding: 98px 5% 94px 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 70px;
        .companies__header {
            width: 55%;
            text-align: center;
            font-size: 3.125rem;
            font-weight: 600;
            line-height: 60px;
        }
        // aligning company logos
        .companies__list {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
    .wrap-container {
        width: 85%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        gap: 250px;
        .optimization{
            display: flex;
            flex-direction: row;
            .optimization__block {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 30px;
                // indent every even block
                &:nth-child(2n) {
                    padding-left: 9%;
                }
                .optimization__heading {
                    width: 80%;
                    font-size: 3.125rem;
                    font-weight: 600;
                }
                .optimization__text {
                    width: 80%;
                    font-size: 1.25rem;
                    line-height: 30px;
                    .optimization__text--mod {
                        text-decoration: underline;
                    }
                }
                .optimization__link {
                    color: $dark-color;
                    font-weight: 600;
                    font-size: 1.25rem;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .optimization__img {
                width: 100%;
            }
            .optimization__img img {
                width: 100%;
            }
        }
        .code {
            width: 85%;
            background-color: $feature-color;
            display: flex;
            flex-direction: column;
            padding: 119px 4% 158px;
            .code__container {
                padding: 37px 5% 23px;
                background-color: $main-color;
                font-size: .875rem;
                line-height: 30px;
                font-family: 'Roboto', Arial, Helvetica, sans-serif;
                .code__line {
                    display: flex;
                    flex-direction: row;
                    gap: 3%;
                    &:first-child {
                        margin-bottom: 30px;
                        flex-wrap: wrap;
                        gap: 1%;
                    }
                }
                .code__var {
                    color: $var-color;
                }
                .code__way {
                    color: $way-color;
                }
                .code__symbl {
                    color: $symbl-color;
                }
                .code__bracket {
                    color: $bracket-color;
                }
                .code__link {
                    color: $link-color;
                }
                .code__string {
                    color: $string-color;
                }
                .code__indent {
                    display: inline-block;
                    text-indent: 25px;
                }
                .code__indent--spec {
                    display: inline-block;
                    text-indent: 50px;
                }
            }
            .code__text {
                padding: 10px 15% 0;
            }
        }
    }
    .features {
        width: 100%;
        margin: 150px 0 93px;
        background-color: $feature-color;
        .features__header {
            margin: 120px 0 58px;
            text-align: center;
            font-size: 3.125rem;
            font-weight: 600;
            line-height: 60px;
            color: $dark-color;
        }
        .features__list {
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 8.5%;
            .features__item {
                width: 25%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                margin-bottom: 57px;
                .features__img {
                    width: 48%;
                }
                .features__title {
                    font-size: 1.5rem;
                    font-weight: 600;
                    line-height: 35px;
                }
                .features__text {
                    text-align: center;
                    font-size: 1.125rem;
                    font-weight: 400;
                    line-height: 25px;
                    .features__text--mod {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .team {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 150px;
        .team__heading {
            text-align: center;
            margin-bottom: 25px;
            font-size: 3.125rem;
            font-weight: 600;
            line-height: 60px;
        }
        .team__list {
            display: flex;
            flex-direction: row;
            .team__item {
                width: 100%;
                display: flex;
                flex-direction: column;
                // trying to align elements
                .team__img {
                    width: 40%;
                    height: 201px;
                }
                .team__title {
                    font-size: 1.875rem;
                    font-weight: 600;
                    line-height: 40px;
                    padding-top: 20px;
                    padding-bottom: 34px;
                }
                .team__text {
                    width: 93%;
                    font-size: 1.25rem;
                    padding-bottom: 25px;
                    line-height: 30px;
                    .team__text--mod {
                        text-decoration: underline;
                    }
                }
                .team__link {
                    color: $dark-color;
                    text-decoration: underline;
                    font-size: 1.25rem;
                }
            }
        }
    }
    .review {
        background-color: $review-color;
        padding: 63px 5% 105px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .review__text {
            width: 75%;
            display: flex;
            flex-direction: column;
            .review__blockquote {
                font-size: 1.875rem;
                line-height: 40px;
                padding-bottom: 23px;
            }
            .review__cite {
                font-size: .9rem;
                font-style: normal;
                line-height: 25px;
            }
            .review__logo {
                width: 9%;
            }
        }
        .review__img {
            width: 24%;
        }
    }
    .sides {
        background-color: $sides-color;
        padding: 69px 5% 80px;
        display: flex;
        flex-direction: row;
        gap: 10%;
        .sides__block {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 35%;
            gap: 15%;
            &:first-child {
                width: 60%;
            }
            .sides__img {
                width: 30%;
            }
            .sides__text {
                font-size: 2.2rem;
                font-weight: 600;
                line-height: 50px;
            }
            .block-item-wrap {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                gap: 20px;
                // setting a border
                &:first-child {
                    padding-left: 15%;
                    border-left: 1px solid #000;
                }
                .rating {
                    width: 100%;
                }
                .block__logo {
                    width: 100px;
                }
                .block__text {
                    font-size: .9rem;
                    line-height: 25px;
                    letter-spacing: 0.75px;
                    text-transform: uppercase;
                    white-space: nowrap;
                }
            }
        }
    }
    .excerpt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 169px 0 162px;
        .excerpt__heading {
            width: 55%;
            font-size: 4rem;
            font-weight: 600;
            line-height: 75px;
        }
        .excerpt__text {
            width: 37%;
            font-size: 1.5rem;
            line-height: 30px;
        }
        .excerpt__img {
            display: block;
            margin: 25px 0 32px;
        }
        .excerpt__link {
            display: block;
            padding: 0 20px;
            line-height: 60px;
            text-align: center;
            font-weight: 600;
            color: $main-color;
            background-color: $accent-color;
            border: none;
            &:hover {
                background-color: lighten($accent-color, $amount: 8%);
            }
        }
    }
    .preview {
        background-color: $companies-color;
        padding: 119px 0 161px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .preview__heading {
            font-size: 4rem;
            font-weight: 600;
            line-height: 75px;
            padding-bottom: 29px;
        }
        .preview__text {
            font-size: 1.25rem;
            line-height: 30px;
        }
        .preview__link {
            display: block;
            margin-top: 54px;
            background-color: $dark-color;
            color: $main-color;
            border: none;
            font-size: 1.05rem;
            font-weight: 600;
            line-height: 60px;
            padding: 0 40px;
            &:hover {
                background-color: lighten($dark-color, $amount: 5%);
            }
        }
    }
}