$main-color: #fff;
$accent-color: #FF6336;
$companies-color: #FF9C7D;
$feature-color: #FFF8E4;
$review-color: #C9E8F2;
$sides-color: #DABC98;
$additional-color: rgba(0, 0, 0, 0.50);
$dark-color: #000;



