$main-color: #fff;
$accent-color: #FF6336;
$companies-color: #FF9C7D;
$feature-color: #FFF8E4;
$review-color: #C9E8F2;
$sides-color: #DABC98;
$additional-color: rgba(0, 0, 0, 0.50);
$dark-color: #000;

.actions-entry {
    display: flex;
    gap: 2%;
    .login__link {
        white-space: nowrap;
        width: 120px;
        line-height: 45px;
        text-align: center;
        font-weight: 600;
        color: #000;
        border: 1px solid $additional-color;
        &:hover {
            cursor: pointer;
        }
    }
    .try__link {
        width: 120px;
        line-height: 45px;
        text-align: center;
        font-weight: 600;
        color: $main-color;
        background-color: $accent-color;
        border: none;
    }
}


.button {
    white-space: nowrap;
    width: 120px;
    line-height: 45px;
    border: 1px solid $additional-color;
    &:hover {
        cursor: pointer;
    }
}
.button_more {
    color: $main-color;
    background-color: $accent-color;
    border: none;
}